URL_BANCO_VETORES='api/dados/bancos_vetores/resultados_testes'
URL_INDICE_DOCUMENTOS='api/dados/documentos/index.json'
COLECAO_DE_DOCUMENTOS='sem_instrucao'
URL_OLLAMA='http://localhost:11434'
URL_HOST='http://localhost:8000'
THREADPOOL_MAX_WORKERS=10
EMBEDDING_INSTRUCTOR="hkunlp/instructor-xl"
EMBEDDING_SQUAD_PORTUGUESE="pierreguillou/bert-base-cased-squad-v1.1-portuguese"
MODELO_OLLAMA='llama3.1'
DEVICE='cpu'
NUM_DOCUMENTOS_RETORNADOS=5
AMBIENTE_EXECUCAO='COLAB'
USAR_WANDB=1 # 1 para True e 0 para False